<!doctype html>
<html>
<head>
  <title>Linx</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <p id="p1">uma seleção de produtos</p>
    <p id="p2">especial para você</p>
    <p id="p3">Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</p>
    
    <nav>
      <ul>
        <li><a href='#' >Conheça a Linx</a></li>
        <li><a href='#' >Ajude o algorítimo</a></li>
        <li><a href='#' >Seus produtos</a></li>
        <li><a href='#' >Compartilhe</a></li>
      </ul>
    </nav>
    
  </header>

  <article>
    <p id="title">Sua seleção Especial</p>

    <section id="card-content"></section>

    <section id='control-btn'></section>

    <section id="share"> 
      <p class='share-p1'>Compartilhe a novidade</p>
      <p class="share-p2">Quer que seus amigos também ganhem a lista personalizada deles? Preencha agora!</p>
      <form class="share-form" action="#">
        <div class="form-control">
          <p><label for="">Nome do seu amigo:</label></p>          
          <input class="form-input" type="text" required>
        </div>        
        <div class="form-control">
          <p><label for="">E-mail:</label></p>          
          <input class="form-input" type="email" required>
        </div>
        <div class="form-control">
        <p><button class="form-btn">Enviar Agora</button></p>       
      </div> 
      </form>
    </section>
  </article>

 <footer>   
    <p class="footer-p">Testando suas habilidades em HTML,</p>
    <p class="footer-p">CSS e JS.</p>  
    <p class="footer-p">Linx Impulse 2019</p>   
     
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascript/script.js"></script>
</footer>
</body>
</html>
